/* univarsal */
*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color:#0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box; */
}

@media screen and ( max-width:480px) {
    .navbar{
        height: 310px;
    }

    .nav-logo{
       background-color: white;
       margin-top: 0px;
       display: flex;
       align-items: end;
    }

    /* .logo{
      position: relative;
      margin-left: 0px ;
      height: 30px;
      width: 70px;
      scale: 0.9;
    } */

    /* .nav-add{
        display: none;
    }

    .box3{
        position: relative;
        margin-top: 0px;
        background-color: green;
        
    }

    .nav-search{
        background-color: red;
        position: relative;
        margin-top: 30px;
    }

    .search-input{
        background-color: blue;
        position: relative;
        margin-top: 30px;
    } */
}

/* nav-box 1 */
.nav-logo{
    height: 50px;
    width: 110px;
}

.border{
    border: 2px solid transparent;
    /* height: 100%; */
}

.border:hover{
    border: 2px solid white;
    /* height: 100%; */
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 110px;
}

/* nav-box 2 */
.add-1{
    color: #cccccc;
    font-size: 0.95rem;
    margin-left: 20px ;
}

.add-2{
    color: #ffffff;
    font-size: 1.35rem;
    margin-left: 2px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* nav-box 3 */
.box3{
    height: 100%;
}
.nav-search{
    display: flex;
    margin: 0 10px;
    height: 40px;
    width: 700px;
    border-radius: 9px;


    /* display: flex;
    flex: 1; 
    min-width: 200px;
    max-width: 600px;
    margin: 5px; */
}

.search-input {
    flex: 1;
    padding: 6px;
    border: none;
    outline: none;
}

.nav-search{
    border: 3.5px solid transparent;
}

.nav-search:hover{
    border: 3.5px solid #febd68;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1.1rem;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: rgb(47, 45, 45);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* nav-box 4 */
.lang-select{
    background-color: #0F1111;
    font-size: 0.85rem;
    color: #f3f3f3;
    border: none;
    margin-left: 0px;
    font-weight: 750;
}

/* nav-box 5 & 6 */
span{
    font-size: 0.85rem;
}

.singin-list-order{
    font-size: 0.95rem;
    font-weight: 700;
}

/* nav-box 7*/
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
    /* display: flex;
    text-align:center; */
}

.nav-cart i{
    font-size: 35px;
}

/* panals */
.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}

.panel-option p{
    display: inline;
    margin-left: 15px;
}

.panel-option{
    width: 80%;
    font-size: 1.1rem;
}

.panal-deals{
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration:solid underline;
}

/* hero section ( main containt) */
.hero-section{
    background-image:url("hero_image.jpg") ;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.92rem;
    margin-bottom: 30px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop-section( shop box) */
.box{
    /* border: 3px solid black; */
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 25px;
}

.shop-section{
    display: flex;
    justify-content:space-evenly;
    background-color: #dedede;
    flex-wrap: wrap;
}

.box-img{
    height:270px;
    background-size: cover;
    margin: 10px 0px 10px;
}

.box-containt{
    margin-left: 17px;
    margin-right: 17px;
}

.box-containt p{
    color:#007185;
}

/* footer section */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 20px;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul a{
    display: block;
    margin-top: 8px;
    font-size: 0.9rem;
    color: #dddddd;
}

.foot-panel2 ul{
    margin-top: 20px;
}

.foot-panel2 p{
    font-weight: 700;
    font-size: 1.1rem;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 110px;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 70px;
}

.pages{
    font-size: 0.8rem;
    display: flex;
    justify-content:center;
    /* align-items: center; */
    /* padding-top: 20px; */
}

.pages p{
    margin-left: 20px;
    margin-top: 25px;
    text-decoration: underline;
}

.copy{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* align-items: center; */
}